USE [master]
GO
/****** Object:  Database [DW]    Script Date: 15/01/2021 00:01:32 ******/
CREATE DATABASE [DW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.DWHML\MSSQL\DATA\DW.mdf' , SIZE = 2301952KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.DWHML\MSSQL\DATA\DW_log.ldf' , SIZE = 14360576KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DW]
GO
USE [DW]
GO
USE [DW]
GO
/****** Object:  Sequence [dbo].[SEQ_F]    Script Date: 15/01/2021 00:01:32 ******/
CREATE SEQUENCE [dbo].[SEQ_F] 
 AS [int]
 START WITH 11
 INCREMENT BY 1
 MINVALUE 10
 MAXVALUE 999999
 CACHE  20 
GO
/****** Object:  Table [dbo].[D_ALUNO]    Script Date: 15/01/2021 00:01:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_ALUNO](
	[SK_ALUNO] [int] IDENTITY(1,1) NOT NULL,
	[NK_CODCOLIGADA] [int] NOT NULL,
	[NK_RA] [nvarchar](50) NOT NULL,
	[NOME] [nvarchar](250) NOT NULL,
	[DTNASCIMENTO] [date] NOT NULL,
	[SEXO] [nvarchar](50) NOT NULL,
	[LN_DATA] [datetime] NOT NULL,
	[LN_ORIGEM] [nvarchar](20) NOT NULL,
	[LN_ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK_D_ALUNO] PRIMARY KEY CLUSTERED 
(
	[SK_ALUNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_DOCENTE]    Script Date: 15/01/2021 00:01:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_DOCENTE](
	[SK_DOCENTE] [int] IDENTITY(1,1) NOT NULL,
	[NK_CODCOLIGADA] [nvarchar](2) NOT NULL,
	[NK_CODPROF] [nchar](20) NOT NULL,
	[NK_CODPESSOA] [nchar](20) NOT NULL,
	[NK_CODFILIAL] [int] NOT NULL,
	[NK_IDTURMADISC] [int] NOT NULL,
	[CPF] [nchar](11) NOT NULL,
	[NOME] [nvarchar](250) NOT NULL,
	[DT_ADMINISSAO] [date] NOT NULL,
	[CH_EXPEDIENTE] [int] NOT NULL,
	[TOTAL_INOVA_NAC] [int] NOT NULL,
	[TOTAL_INOVA_EST] [int] NOT NULL,
	[TOTAL_PROJ_INTEGRADOR] [int] NOT NULL,
	[LN_DATA] [datetime] NOT NULL,
	[LN_ORIGEM] [nchar](20) NOT NULL,
	[LN_ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK_D_DOCENTE] PRIMARY KEY CLUSTERED 
(
	[SK_DOCENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_MATRICULA]    Script Date: 15/01/2021 00:01:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_MATRICULA](
	[SK_MATRICULA] [int] IDENTITY(1,1) NOT NULL,
	[NK_CODCOLIGADA] [int] NOT NULL,
	[NK_CODFILIAL] [int] NOT NULL,
	[NK_IDPERLET] [int] NOT NULL,
	[NK_IDHABILITACAOFILIAL] [int] NOT NULL,
	[NK_CODGRADE] [nvarchar](20) NOT NULL,
	[NK_RA] [nvarchar](20) NOT NULL,
	[NK_IDTURMADISC] [int] NOT NULL,
	[NK_CODDISC] [nvarchar](20) NOT NULL,
	[DISCIPLINA] [nvarchar](250) NOT NULL,
	[CODSTATUS_CURSO] [int] NOT NULL,
	[STATUS_CURSO] [nvarchar](50) NOT NULL,
	[QTD_ALUNO_CONCLUIDOS_CURSO] [int] NOT NULL,
	[QTD_ALUNO_NCONCLUIDOS_CURSO] [int] NOT NULL,
	[LN_DATA] [datetime] NOT NULL,
	[LN_ORIGEM] [nchar](20) NOT NULL,
	[LN_ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK_D_MATRICULA] PRIMARY KEY CLUSTERED 
(
	[SK_MATRICULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_TEMPO]    Script Date: 15/01/2021 00:01:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_TEMPO](
	[SK_TEMPO] [int] IDENTITY(1,1) NOT NULL,
	[NK_DATA] [date] NOT NULL,
	[ANO] [nchar](4) NOT NULL,
	[MES] [nchar](4) NOT NULL,
	[DIA] [nchar](4) NOT NULL,
	[LN_DATA] [datetime] NOT NULL,
	[LN_ORIGEM] [nchar](20) NOT NULL,
	[LN_ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK_D_TEMPO] PRIMARY KEY CLUSTERED 
(
	[SK_TEMPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[F_DESEMPENHO]    Script Date: 15/01/2021 00:01:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[F_DESEMPENHO](
	[SK_ALUNO] [int] NOT NULL,
	[SK_DOCENTE] [int] NOT NULL,
	[SK_MATRICULA] [int] NOT NULL,
	[SK_TEMPO] [int] NOT NULL,
	[QTD_PAH_PREVISTA] [decimal](18, 0) NOT NULL,
	[QTD_PAH_REALIZADA] [decimal](18, 0) NOT NULL,
	[LN_DATA] [datetime] NOT NULL,
	[LN_ORIGEM] [nchar](20) NOT NULL,
	[LN_ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK_F_DESEMPENHO] PRIMARY KEY CLUSTERED 
(
	[SK_ALUNO] ASC,
	[SK_DOCENTE] ASC,
	[SK_MATRICULA] ASC,
	[SK_TEMPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_D_ALUNO]    Script Date: 15/01/2021 00:01:32 ******/
CREATE NONCLUSTERED INDEX [IX_D_ALUNO] ON [dbo].[D_ALUNO]
(
	[NK_CODCOLIGADA] ASC,
	[NK_RA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_D_DOCENTE]    Script Date: 15/01/2021 00:01:32 ******/
CREATE NONCLUSTERED INDEX [IX_D_DOCENTE] ON [dbo].[D_DOCENTE]
(
	[NK_CODCOLIGADA] ASC,
	[NK_CODPROF] ASC,
	[NK_CODPESSOA] ASC,
	[NK_CODFILIAL] ASC,
	[NK_IDTURMADISC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_D_TEMPO]    Script Date: 15/01/2021 00:01:32 ******/
CREATE NONCLUSTERED INDEX [IX_D_TEMPO] ON [dbo].[D_TEMPO]
(
	[NK_DATA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[F_DESEMPENHO]  WITH CHECK ADD  CONSTRAINT [FK_F_DESEMPENHO_D_ALUNO] FOREIGN KEY([SK_ALUNO])
REFERENCES [dbo].[D_ALUNO] ([SK_ALUNO])
GO
ALTER TABLE [dbo].[F_DESEMPENHO] CHECK CONSTRAINT [FK_F_DESEMPENHO_D_ALUNO]
GO
ALTER TABLE [dbo].[F_DESEMPENHO]  WITH CHECK ADD  CONSTRAINT [FK_F_DESEMPENHO_D_DOCENTE] FOREIGN KEY([SK_DOCENTE])
REFERENCES [dbo].[D_DOCENTE] ([SK_DOCENTE])
GO
ALTER TABLE [dbo].[F_DESEMPENHO] CHECK CONSTRAINT [FK_F_DESEMPENHO_D_DOCENTE]
GO
ALTER TABLE [dbo].[F_DESEMPENHO]  WITH CHECK ADD  CONSTRAINT [FK_F_DESEMPENHO_D_MATRICULA] FOREIGN KEY([SK_MATRICULA])
REFERENCES [dbo].[D_MATRICULA] ([SK_MATRICULA])
GO
ALTER TABLE [dbo].[F_DESEMPENHO] CHECK CONSTRAINT [FK_F_DESEMPENHO_D_MATRICULA]
GO
ALTER TABLE [dbo].[F_DESEMPENHO]  WITH CHECK ADD  CONSTRAINT [FK_F_DESEMPENHO_D_TEMPO] FOREIGN KEY([SK_TEMPO])
REFERENCES [dbo].[D_TEMPO] ([SK_TEMPO])
GO
ALTER TABLE [dbo].[F_DESEMPENHO] CHECK CONSTRAINT [FK_F_DESEMPENHO_D_TEMPO]
GO
USE [master]
GO
