USE [master]
GO
/****** Object:  Database [DS]    Script Date: 15/01/2021 00:01:02 ******/
CREATE DATABASE [DS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.DWHML\MSSQL\DATA\DS.mdf' , SIZE = 2039808KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.DWHML\MSSQL\DATA\DS_log.ldf' , SIZE = 15671296KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DS]
GO
USE [DS]
GO
/****** Object:  Table [dbo].[Adm_Log]    Script Date: 15/01/2021 00:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adm_Log](
	[Id_Log] [uniqueidentifier] NOT NULL,
	[Data] [datetime] NOT NULL,
	[Passo] [varchar](50) NOT NULL,
	[SucessoFalha] [char](1) NOT NULL,
	[mensagem] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_ALUNO]    Script Date: 15/01/2021 00:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_ALUNO](
	[NK_CODCOLIGADA] [int] NOT NULL,
	[NK_RA] [nvarchar](50) NOT NULL,
	[NOME] [nvarchar](250) NOT NULL,
	[DTNASCIMENTO] [date] NOT NULL,
	[SEXO] [nvarchar](50) NOT NULL,
	[LN_DATA] [datetime] NOT NULL,
	[LN_ORIGEM] [nvarchar](20) NOT NULL,
	[LN_ATIVO] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_DOCENTE]    Script Date: 15/01/2021 00:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_DOCENTE](
	[NK_CODCOLIGADA] [nvarchar](1) NOT NULL,
	[NK_CODPROF] [nchar](20) NOT NULL,
	[NK_CODPESSOA] [nchar](20) NOT NULL,
	[NK_CODFILIAL] [int] NOT NULL,
	[NK_IDTURMADISC] [int] NOT NULL,
	[CPF] [nchar](11) NOT NULL,
	[NOME] [nvarchar](250) NOT NULL,
	[DT_ADMINISSAO] [date] NOT NULL,
	[CH_EXPEDIENTE] [int] NOT NULL,
	[TOTAL_INOVA_NAC] [int] NOT NULL,
	[TOTAL_INOVA_EST] [int] NOT NULL,
	[TOTAL_PROJ_INTEGRADOR] [int] NOT NULL,
	[LN_DATA] [datetime] NOT NULL,
	[LN_ORIGEM] [nvarchar](20) NOT NULL,
	[LN_ATIVO] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_MATRICULA]    Script Date: 15/01/2021 00:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_MATRICULA](
	[NK_CODCOLIGADA] [int] NOT NULL,
	[NK_CODFILIAL] [int] NOT NULL,
	[NK_IDPERLET] [int] NOT NULL,
	[NK_IDHABILITACAOFILIAL] [int] NOT NULL,
	[NK_CODGRADE] [nvarchar](20) NOT NULL,
	[NK_RA] [nvarchar](20) NOT NULL,
	[NK_IDTURMADISC] [int] NOT NULL,
	[NK_CODDISC] [nvarchar](20) NOT NULL,
	[DISCIPLINA] [nvarchar](250) NOT NULL,
	[CODSTATUS_CURSO] [int] NOT NULL,
	[STATUS_CURSO] [nvarchar](50) NOT NULL,
	[QTD_ALUNO_CONCLUIDOS_CURSO] [int] NOT NULL,
	[QTD_ALUNO_NCONCLUIDOS_CURSO] [int] NOT NULL,
	[LN_DATA] [datetime] NOT NULL,
	[LN_ORIGEM] [nchar](20) NOT NULL,
	[LN_ATIVO] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_TEMPO]    Script Date: 15/01/2021 00:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_TEMPO](
	[NK_DATA] [date] NOT NULL,
	[ANO] [nchar](10) NOT NULL,
	[MES] [nchar](4) NOT NULL,
	[DIA] [nchar](4) NOT NULL,
	[LN_DATA] [datetime] NOT NULL,
	[LN_ORIGEM] [nchar](20) NOT NULL,
	[LN_ATIVO] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[F_DESEMPENHO]    Script Date: 15/01/2021 00:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[F_DESEMPENHO](
	[SK_ALUNO] [int] NOT NULL,
	[SK_DOCENTE] [int] NOT NULL,
	[SK_MATRICULA] [int] NOT NULL,
	[SK_TEMPO] [int] NOT NULL,
	[QTD_PAH_PREVISTA] [decimal](18, 0) NOT NULL,
	[QTD_PAH_REALIZADA] [decimal](18, 0) NOT NULL,
	[LN_DATA] [datetime] NOT NULL,
	[LN_ORIGEM] [nchar](20) NOT NULL,
	[LN_ATIVO] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OLE DB Destination]    Script Date: 15/01/2021 00:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OLE DB Destination](
	[CPF Docente] [float] NULL,
	[COMPETICAO] [nvarchar](255) NULL,
	[QTD_Selecionado] [float] NULL,
	[QTD_PODIUM_1] [nvarchar](255) NULL,
	[QTD_PODIUM_2] [nvarchar](255) NULL,
	[QTD_PODIUM_3] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STG_PAH_DIARIA]    Script Date: 15/01/2021 00:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STG_PAH_DIARIA](
	[NK_CODCOLIGADA] [nchar](5) NULL,
	[NK_IDHABILITACAOFILIAL] [int] NULL,
	[NK_IDTURMADISC] [int] NULL,
	[DATA_AULA] [date] NULL,
	[NK_RA] [nchar](20) NULL,
	[QTD_PAH_PREVISTA] [decimal](18, 0) NULL,
	[QTD_PAH_REALIZADA] [decimal](18, 0) NULL,
	[LN_DATA] [datetime] NULL,
	[LN_ORIGEM] [nchar](20) NULL,
	[LN_ATIVO] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STG_PROJETO]    Script Date: 15/01/2021 00:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STG_PROJETO](
	[CPF_DOCENTE] [nvarchar](20) NULL,
	[COMPETICAO] [nvarchar](255) NULL,
	[QTD_Selecionado] [int] NULL,
	[QTD_PODIUM_1] [nvarchar](10) NULL,
	[QTD_PODIUM_2] [nvarchar](10) NULL,
	[QTD_PODIUM_3] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDimSCDType2Example]    Script Date: 15/01/2021 00:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDimSCDType2Example](
	[SurrogateKey] [int] IDENTITY(1,1) NOT NULL,
	[SourceSystemID] [int] NOT NULL,
	[Attribute1] [varchar](128) NOT NULL,
	[Attribute2] [varchar](128) NOT NULL,
	[Attribute3] [int] NOT NULL,
	[DimensionCheckSum] [int] NOT NULL,
	[EffectiveDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[CurrentRecord] [char](1) NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
	[UpdatedBy] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SurrogateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStaging]    Script Date: 15/01/2021 00:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStaging](
	[SourceSystemID] [int] NOT NULL,
	[Attribute1] [varchar](128) NOT NULL,
	[Attribute2] [varchar](128) NOT NULL,
	[Attribute3] [int] NOT NULL,
	[DimensionCheckSum] [int] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
	[UpdatedBy] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_D_ALUNO]    Script Date: 15/01/2021 00:01:02 ******/
CREATE NONCLUSTERED INDEX [IX_D_ALUNO] ON [dbo].[D_ALUNO]
(
	[NK_CODCOLIGADA] ASC,
	[NK_RA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_D_DOCENTE]    Script Date: 15/01/2021 00:01:02 ******/
CREATE NONCLUSTERED INDEX [IX_D_DOCENTE] ON [dbo].[D_DOCENTE]
(
	[NK_CODCOLIGADA] ASC,
	[NK_CODPROF] ASC,
	[NK_CODPESSOA] ASC,
	[NK_CODFILIAL] ASC,
	[NK_IDTURMADISC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_D_MATRICULA]    Script Date: 15/01/2021 00:01:02 ******/
CREATE NONCLUSTERED INDEX [IX_D_MATRICULA] ON [dbo].[D_MATRICULA]
(
	[NK_CODCOLIGADA] ASC,
	[NK_CODFILIAL] ASC,
	[NK_IDPERLET] ASC,
	[NK_IDHABILITACAOFILIAL] ASC,
	[NK_CODGRADE] ASC,
	[NK_RA] ASC,
	[NK_IDTURMADISC] ASC,
	[NK_CODDISC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_D_TEMPO]    Script Date: 15/01/2021 00:01:02 ******/
CREATE NONCLUSTERED INDEX [IX_D_TEMPO] ON [dbo].[D_TEMPO]
(
	[NK_DATA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblDimSCDType2Example] ADD  CONSTRAINT [DF_tblDimSCDType2Example_Attribute1]  DEFAULT ('N/A') FOR [Attribute1]
GO
ALTER TABLE [dbo].[tblDimSCDType2Example] ADD  CONSTRAINT [DF_tblDimSCDType2Example_Attribute2]  DEFAULT ('N/A') FOR [Attribute2]
GO
ALTER TABLE [dbo].[tblDimSCDType2Example] ADD  CONSTRAINT [DF_tblDimSCDType2Example_Attribute3]  DEFAULT ((-1)) FOR [Attribute3]
GO
ALTER TABLE [dbo].[tblDimSCDType2Example] ADD  CONSTRAINT [DF_tblDimSCDType2Example_DimensionCheckSum]  DEFAULT ((-1)) FOR [DimensionCheckSum]
GO
ALTER TABLE [dbo].[tblDimSCDType2Example] ADD  CONSTRAINT [DF_tblDimSCDType2Example_EffectiveDate]  DEFAULT (getdate()) FOR [EffectiveDate]
GO
ALTER TABLE [dbo].[tblDimSCDType2Example] ADD  CONSTRAINT [DF_tblDimSCDType2Example_EndDate]  DEFAULT ('12/31/9999') FOR [EndDate]
GO
ALTER TABLE [dbo].[tblDimSCDType2Example] ADD  CONSTRAINT [DF_tblDimSCDType2Example_CurrentRecord]  DEFAULT ('Y') FOR [CurrentRecord]
GO
ALTER TABLE [dbo].[tblDimSCDType2Example] ADD  CONSTRAINT [DF_tblDimSCDType2Example_LastUpdated]  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[tblDimSCDType2Example] ADD  CONSTRAINT [DF_tblDimSCDType2Example_UpdatedBy]  DEFAULT (suser_sname()) FOR [UpdatedBy]
GO
ALTER TABLE [dbo].[tblStaging] ADD  CONSTRAINT [DF_tblStaging_Attribute1]  DEFAULT ('N/A') FOR [Attribute1]
GO
ALTER TABLE [dbo].[tblStaging] ADD  CONSTRAINT [DF_tblStaging_Attribute2]  DEFAULT ('N/A') FOR [Attribute2]
GO
ALTER TABLE [dbo].[tblStaging] ADD  CONSTRAINT [DF_tblStaging_Attribute3]  DEFAULT ((-1)) FOR [Attribute3]
GO
ALTER TABLE [dbo].[tblStaging] ADD  CONSTRAINT [DF_tblStaging_DimensionCheckSum]  DEFAULT ((-1)) FOR [DimensionCheckSum]
GO
ALTER TABLE [dbo].[tblStaging] ADD  CONSTRAINT [DF_tblStaging_LastUpdated]  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[tblStaging] ADD  CONSTRAINT [DF_tblStaging_UpdatedBy]  DEFAULT (suser_sname()) FOR [UpdatedBy]
GO
/****** Object:  StoredProcedure [dbo].[CARREGA_D_ALUNO]    Script Date: 15/01/2021 00:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE	[dbo].[CARREGA_D_ALUNO]
AS

BEGIN	TRY

	IF  NOT EXISTS (SELECT * FROM [DW].[dbo].[D_ALUNO] WHERE NK_CODCOLIGADA = 99)
	INSERT INTO [dbo].[D_ALUNO]
			   ([NK_CODCOLIGADA]
			   ,[NK_RA]
			   ,[NOME]
			   ,[DTNASCIMENTO]
			   ,[SEXO]
			   ,[LN_DATA]
			   ,[LN_ORIGEM]
			   ,[LN_ATIVO])
		 VALUES
			   (99
			   ,'99999999'
			   ,'_NA_'
			   ,'1900-01-01'
			   ,'_NA_'
			   ,'1900-01-01'
			   ,'_NA_'
			   ,1)

	-- CARREGA NO DW OS NOVOS ALUNOS
	INSERT INTO	[DW].[DBO].[D_ALUNO]
	SELECT
		DISTINCT
		DS.NK_CODCOLIGADA,
		DS.NK_RA,
		DS.NOME,
		DS.DTNASCIMENTO,
		DS.SEXO,
		DS.LN_DATA,
		DS.LN_ORIGEM,
		DS.LN_ATIVO

	FROM	[DS].[DBO].[D_ALUNO]	AS	DS	

		LEFT JOIN	[DW].[DBO].[D_ALUNO]	AS	DW
			ON	DS.NK_CODCOLIGADA	=	DW.NK_CODCOLIGADA
			AND	DS.NK_RA	=	DW.NK_RA
	WHERE	DW.SK_ALUNO	IS	NULL


	--	ATUALIZA OS	ALUNOS QUE VIERAM COM ATRIBUTOS DIFERENTE
	DECLARE	@NK_CODCOLIGADA	VARCHAR(20)
	DECLARE	@NK_RA	VARCHAR(20)
	DECLARE	@NOME	VARCHAR(255)
	DECLARE	@DTNASCIMENTO	DATE
	DECLARE	@SEXO	VARCHAR(20)
	DECLARE	@LN_DATA	DATETIME
	DECLARE	@LN_ORIGEM	VARCHAR(20)
	DECLARE	@LN_ATIVO	BIT


	DECLARE	C_ATUALIZA_ALUNO	CURSOR FOR
	SELECT
		--DISTINCT
		DS.NK_CODCOLIGADA,
		DS.NK_RA,
		DS.NOME,
		DS.DTNASCIMENTO,
		DS.SEXO,
		DS.LN_DATA,
		DS.LN_ORIGEM,
		DS.LN_ATIVO

	FROM	[DS].[DBO].[D_ALUNO]	AS	DS	

		LEFT JOIN	[DW].[DBO].[D_ALUNO]	AS	DW
			ON	DS.NK_CODCOLIGADA	=	DW.NK_CODCOLIGADA
			AND	DS.NK_RA	=	DW.NK_RA
	WHERE	DW.LN_ATIVO = 1
	AND (DS.NOME <> DW.NOME  
	OR DS.DTNASCIMENTO <> DW.DTNASCIMENTO 
	OR DS.SEXO <> DW.SEXO 
	--OR DS.LN_DATA <> DW.LN_DATA
	)
	
	OPEN	C_ATUALIZA_ALUNO
				FETCH NEXT FROM	C_ATUALIZA_ALUNO INTO @NK_CODCOLIGADA,	@NK_RA,	@NOME,	@DTNASCIMENTO,	@SEXO,	@LN_DATA, @LN_ORIGEM, @LN_ATIVO
	
	WHILE	@@FETCH_STATUS	=	0
	BEGIN
	
	--INATIVA O ALUNO COM ATRIBUTOS ANTIGO
	UPDATE	[DW].[DBO].[D_ALUNO] SET	LN_ATIVO	=	0	WHERE	NK_CODCOLIGADA = @NK_CODCOLIGADA AND NK_RA = @NK_RA

	--INSERE O REGISTRO COM OS NOVOS DADOS
	INSERT INTO	[DW].[DBO].[D_ALUNO]	VALUES	(@NK_CODCOLIGADA,	@NK_RA,	@NOME,	@DTNASCIMENTO,	@SEXO,	@LN_DATA, @LN_ORIGEM, @LN_ATIVO)		


	FETCH NEXT FROM	C_ATUALIZA_ALUNO	INTO	@NK_CODCOLIGADA,	@NK_RA,	@NOME,	@DTNASCIMENTO,	@SEXO,	@LN_DATA, @LN_ORIGEM, @LN_ATIVO
	END
	CLOSE	C_ATUALIZA_ALUNO
	DEALLOCATE	C_ATUALIZA_ALUNO


	--FAZ O LOG DO PROCESSO
	INSERT INTO	[DBO].[ADM_LOG]	VALUES	(NEWID(),	GETDATE(),	'IMPORTA	ALUNO','S',	'CARGA	DE	D_ALUNO	COM	SUCESSO.')


END	TRY

BEGIN	CATCH
	--FAZ O LOG DO PROCESSO:
	INSERT INTO	[DBO].[ADM_LOG]	VALUES	(NEWID(),	GETDATE(),	'IMPORTA	ALUNO','F',	'ERRO	AO	CARREGAR	D_ALUNO.')
END	CATCH
GO
/****** Object:  StoredProcedure [dbo].[CARREGA_D_DOCENTE]    Script Date: 15/01/2021 00:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CARREGA_D_DOCENTE]
AS

BEGIN TRY

	IF  NOT EXISTS (SELECT * FROM [DW].[dbo].[D_DOCENTE] WHERE NK_CODCOLIGADA = 99)
	INSERT INTO [DW].[dbo].[D_DOCENTE]
			   ([NK_CODCOLIGADA]
				,[NK_CODPROF]
				,[NK_CODPESSOA]
				,[NK_CODFILIAL]
				,[NK_IDTURMADISC]
				,[CPF]
				,[NOME]
				,[DT_ADMINISSAO]
				,[CH_EXPEDIENTE]
				,[TOTAL_INOVA_NAC]
				,[TOTAL_INOVA_EST]
				,[TOTAL_PROJ_INTEGRADOR]           
				,[LN_DATA]
				,[LN_ORIGEM]
				,[LN_ATIVO])
		 VALUES
			   (99
			   ,99999999
			   ,99999999
			   ,'99'
			   ,99999999
			   ,99999999999
			   ,'_NA_'
			   ,'1900-01-01'
			   ,99999999
			   ,99999999
			   ,99999999
			   ,99999999
			   ,'1900-01-01'
			   ,'_NA_'
			   ,1)

	INSERT INTO [DW].[DBO].[D_DOCENTE]
	SELECT
		DS.NK_CODCOLIGADA,
		DS.NK_CODPROF,
		DS.NK_CODPESSOA,
		DS.NK_CODFILIAL,
		DS.NK_IDTURMADISC,
		DS.CPF,
		DS.NOME,
		DS.DT_ADMINISSAO,
		DS.CH_EXPEDIENTE,
		DS.TOTAL_INOVA_NAC,
		DS.TOTAL_INOVA_EST,
		DS.TOTAL_PROJ_INTEGRADOR,
		DS.LN_DATA,
		DS.LN_ORIGEM,
		DS.LN_ATIVO

	FROM [DS].[DBO].[D_DOCENTE] AS DS

		LEFT JOIN [DW].[DBO].[D_DOCENTE] AS DW
			ON DS.NK_CODCOLIGADA = DW.NK_CODCOLIGADA
			AND DS.NK_CODFILIAL = DW.NK_CODFILIAL
			AND DS.NK_CODPESSOA = DW.NK_CODPESSOA
			AND DS.NK_CODPROF = DW.NK_CODPROF
			AND DS.NK_IDTURMADISC = DW.NK_IDTURMADISC
			AND DW.SK_DOCENTE IS NULL
	
	
	--	ATUALIZA OS	ALUNOS QUE VIERAM COM ATRIBUTOS DIFERENTE
	DECLARE	@NK_CODCOLIGADA	NCHAR(1)
	DECLARE	@NK_CODPROF	NCHAR(20)
	DECLARE	@NK_CODPESSOA	NCHAR(20)
	DECLARE	@NK_CODFILIAL	NCHAR(20)
	DECLARE	@NK_IDTURMADISC	NCHAR(20)
	DECLARE	@CPF	NCHAR(11)
	DECLARE @NOME NVARCHAR(250)
	DECLARE	@DT_ADMINISSAO	DATE
	DECLARE	@CH_EXPEDIENTE	INT
	DECLARE	@TOTAL_INOVA_NAC INT
	DECLARE	@TOTAL_INOVA_EST INT
	DECLARE	@TOTAL_PROJ_INTEGRADOR INT
	DECLARE	@LN_DATA	DATETIME
	DECLARE	@LN_ORIGEM	NCHAR(20)
	DECLARE	@LN_ATIVO	BIT


	DECLARE	C_ATUALIZA_DOCENTE	CURSOR FOR
	SELECT
		--DISTINCT
		DS.NK_CODCOLIGADA,
		DS.NK_CODPROF,
		DS.NK_CODPESSOA,
		DS.NK_CODFILIAL,
		DS.NK_IDTURMADISC,
		DS.CPF,
		DS.NOME,
		DS.DT_ADMINISSAO,
		DS.CH_EXPEDIENTE,
		DS.TOTAL_INOVA_NAC,
		DS.TOTAL_INOVA_EST,
		DS.TOTAL_PROJ_INTEGRADOR,
		DS.LN_DATA,
		DS.LN_ORIGEM,
		DS.LN_ATIVO

	FROM	[DS].[DBO].[D_DOCENTE]	AS	DS	

		LEFT JOIN	[DW].[DBO].[D_DOCENTE]	AS	DW
			ON DS.NK_CODCOLIGADA = DW.NK_CODCOLIGADA
			AND DS.NK_CODFILIAL = DW.NK_CODFILIAL
			AND DS.NK_CODPESSOA = DW.NK_CODPESSOA
			AND DS.NK_CODPROF = DW.NK_CODPROF
			AND DS.NK_IDTURMADISC = DW.NK_IDTURMADISC
	WHERE	DW.LN_ATIVO = 1
	AND (DS.CPF <> DW.CPF
		OR DS.NOME <> DW.NOME  
		OR DS.DT_ADMINISSAO <> DW.DT_ADMINISSAO 
		OR DS.CH_EXPEDIENTE <> DW.CH_EXPEDIENTE 
		OR DS.TOTAL_INOVA_NAC <> DW.TOTAL_INOVA_NAC
		OR DS.TOTAL_INOVA_EST <> DW.TOTAL_INOVA_EST
		OR DS.TOTAL_PROJ_INTEGRADOR <> DW.TOTAL_PROJ_INTEGRADOR
	)
	
	OPEN	C_ATUALIZA_DOCENTE
				FETCH NEXT FROM	C_ATUALIZA_DOCENTE INTO @NK_CODCOLIGADA, @NK_CODPROF, @NK_CODPESSOA, @NK_CODFILIAL,	@NK_IDTURMADISC, @CPF, @NOME, @DT_ADMINISSAO, @CH_EXPEDIENTE, @TOTAL_INOVA_NAC, @TOTAL_INOVA_EST, @TOTAL_PROJ_INTEGRADOR, @LN_DATA, @LN_ORIGEM, @LN_ATIVO
	
	WHILE	@@FETCH_STATUS	=	0
	BEGIN
	
	--INATIVA O ALUNO COM ATRIBUTOS ANTIGO
	UPDATE	[DW].[DBO].[D_DOCENTE] 
		SET	LN_ATIVO =	0 
	WHERE NK_CODCOLIGADA = @NK_CODCOLIGADA
		AND NK_CODPROF = @NK_CODPROF 
		AND NK_CODPESSOA = @NK_CODPESSOA 
		AND NK_CODFILIAL = @NK_CODFILIAL 
		AND NK_IDTURMADISC = @NK_IDTURMADISC

	--INSERE O REGISTRO COM OS NOVOS DADOS
	INSERT INTO	[DW].[DBO].[D_DOCENTE]	VALUES	(@NK_CODCOLIGADA, @NK_CODPROF, @NK_CODPESSOA, @NK_CODFILIAL,	@NK_IDTURMADISC, @CPF, @NOME, @DT_ADMINISSAO, @CH_EXPEDIENTE, @TOTAL_INOVA_NAC, @TOTAL_INOVA_EST, @TOTAL_PROJ_INTEGRADOR, @LN_DATA, @LN_ORIGEM, @LN_ATIVO)		


	FETCH NEXT FROM	C_ATUALIZA_DOCENTE	INTO	@NK_CODCOLIGADA, @NK_CODPROF, @NK_CODPESSOA, @NK_CODFILIAL,	@NK_IDTURMADISC, @CPF, @NOME, @DT_ADMINISSAO, @CH_EXPEDIENTE, @TOTAL_INOVA_NAC, @TOTAL_INOVA_EST, @TOTAL_PROJ_INTEGRADOR, @LN_DATA, @LN_ORIGEM, @LN_ATIVO
	END
	CLOSE	C_ATUALIZA_DOCENTE
	
	DEALLOCATE	C_ATUALIZA_DOCENTE
	
--	FAZ	O	LOG	DO	PROCESSO:
	INSERT INTO	[DBO].[ADM_LOG]	VALUES	(NEWID(),	GETDATE(),	'IMPORTA	DOCENTE','S',	'CARGA	DE	D_DOCENTE	COM	SUCESSO.')
END	TRY

BEGIN	CATCH
--	FAZ	O	LOG	DO	PROCESSO:
	INSERT INTO	[DBO].[ADM_LOG]	VALUES	(NEWID(),	GETDATE(),	'IMPORTA	DOCENTE','F',	'ERRO	AO	CARREGAR	D_DOCENTE.')
END	CATCH
GO
/****** Object:  StoredProcedure [dbo].[CARREGA_D_MATRICULA]    Script Date: 15/01/2021 00:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CARREGA_D_MATRICULA]
AS

BEGIN TRY

	IF  NOT EXISTS (SELECT * FROM [DW].[dbo].[D_MATRICULA] WHERE NK_CODCOLIGADA = 99)
	INSERT INTO [DW].[dbo].[D_MATRICULA]
           ([NK_CODCOLIGADA]
      ,[NK_CODFILIAL]
      ,[NK_IDPERLET]
      ,[NK_IDHABILITACAOFILIAL]
      ,[NK_CODGRADE]
      ,[NK_RA]
      ,[NK_IDTURMADISC]
      ,[NK_CODDISC]
      ,[DISCIPLINA]
      ,[CODSTATUS_CURSO]
      ,[STATUS_CURSO]
      ,[QTD_ALUNO_CONCLUIDOS_CURSO]
      ,[QTD_ALUNO_NCONCLUIDOS_CURSO]

      ,[LN_DATA]
      ,[LN_ORIGEM]
      ,[LN_ATIVO])
     VALUES
           (99
           ,99
           ,99999999
           ,99999999
           ,99999999
           ,99999999
           ,99999999
           ,99999999
           ,'_NA_'
       ,'999'
       ,'_NA_'
       ,'999'
       ,'999'
           ,'1900-01-01'
           ,'_NA_'
           ,1)

	INSERT INTO [DW].[DBO].[D_MATRICULA]
	SELECT

		DS.[NK_CODCOLIGADA],
		DS.[NK_CODFILIAL],
		DS.[NK_IDPERLET],
		DS.[NK_IDHABILITACAOFILIAL],
		DS.[NK_CODGRADE],
		DS.[NK_RA],
		DS.[NK_IDTURMADISC],
		DS.[NK_CODDISC],
		DS.[DISCIPLINA],
        DS.[CODSTATUS_CURSO],
        DS.[STATUS_CURSO],
        DS.[QTD_ALUNO_CONCLUIDOS_CURSO],
        DS.[QTD_ALUNO_NCONCLUIDOS_CURSO],
		DS.LN_DATA,
		DS.LN_ORIGEM,
		DS.LN_ATIVO

	FROM [DS].[DBO].[D_MATRICULA] AS DS

		LEFT JOIN [DW]..[D_MATRICULA] AS DW
			ON DS.NK_CODCOLIGADA = DW.NK_CODCOLIGADA
			AND DS.NK_CODFILIAL = DW.NK_CODFILIAL
			AND DS.NK_IDPERLET = DW.NK_IDPERLET
			AND DS.NK_IDHABILITACAOFILIAL = DW.NK_IDHABILITACAOFILIAL
			AND DS.NK_CODGRADE = DW.NK_CODGRADE
			AND DS.NK_RA = DW.NK_RA
			AND DS.NK_IDTURMADISC = DW.NK_IDTURMADISC
			AND DS.NK_CODDISC = DW.NK_CODDISC
			AND DW.SK_MATRICULA IS NULL


	--	ATUALIZA OS	ALUNOS QUE VIERAM COM ATRIBUTOS DIFERENTE
		DECLARE @NK_CODCOLIGADA INT
		DECLARE @NK_CODFILIAL INT
		DECLARE @NK_IDPERLET INT
		DECLARE @NK_IDHABILITACAOFILIAL INT
		DECLARE @NK_CODGRADE nvarchar(20)
		DECLARE @NK_RA nvarchar(20)
		DECLARE @NK_IDTURMADISC int
		DECLARE @NK_CODDISC nvarchar(20)
		DECLARE @DISCIPLINA nvarchar(250)
		DECLARE @CODSTATUS_CURSO INT
        DECLARE @STATUS_CURSO nvarchar(50)
        DECLARE @QTD_ALUNO_CONCLUIDOS_CURSO INT
        DECLARE @QTD_ALUNO_NCONCLUIDOS_CURSO INT
		DECLARE	@LN_DATA	DATETIME
		DECLARE	@LN_ORIGEM	NCHAR(20)
		DECLARE	@LN_ATIVO	BIT


	DECLARE	C_ATUALIZA_DOCENTE	CURSOR FOR
	SELECT
		--DISTINCT
		DS.[NK_CODCOLIGADA],
		DS.[NK_CODFILIAL],
		DS.[NK_IDPERLET],
		DS.[NK_IDHABILITACAOFILIAL],
		DS.[NK_CODGRADE],
		DS.[NK_RA],
		DS.[NK_IDTURMADISC],
		DS.[NK_CODDISC],
		DS.[DISCIPLINA],
        DS.[CODSTATUS_CURSO],
        DS.[STATUS_CURSO],
        DS.[QTD_ALUNO_CONCLUIDOS_CURSO],
        DS.[QTD_ALUNO_NCONCLUIDOS_CURSO],
		DS.LN_DATA,
		DS.LN_ORIGEM,
		DS.LN_ATIVO

	FROM [DS].[DBO].[D_MATRICULA] AS DS

		LEFT JOIN [DW].[DBO].[D_MATRICULA] AS DW
			ON DS.NK_CODCOLIGADA = DW.NK_CODCOLIGADA
			AND DS.NK_CODFILIAL = DW.NK_CODFILIAL
			AND DS.NK_IDPERLET = DW.NK_IDPERLET
			AND DS.NK_IDHABILITACAOFILIAL = DW.NK_IDHABILITACAOFILIAL
			AND DS.NK_CODGRADE = DW.NK_CODGRADE
			AND DS.NK_RA = DW.NK_RA
			AND DS.NK_IDTURMADISC = DW.NK_IDTURMADISC
			AND DS.NK_CODDISC = DW.NK_CODDISC
	WHERE	DW.LN_ATIVO = 1
	AND DS.DISCIPLINA <> DW.DISCIPLINA
		
	
	OPEN	C_ATUALIZA_DOCENTE
			FETCH NEXT FROM	C_ATUALIZA_DOCENTE INTO @NK_CODCOLIGADA, @NK_CODFILIAL, @NK_IDPERLET, @NK_IDHABILITACAOFILIAL, @NK_CODGRADE, @NK_RA, @NK_IDTURMADISC, @NK_CODDISC, @DISCIPLINA, @CODSTATUS_CURSO, @STATUS_CURSO, @QTD_ALUNO_CONCLUIDOS_CURSO, @QTD_ALUNO_NCONCLUIDOS_CURSO, @LN_DATA, @LN_ORIGEM, @LN_ATIVO
	
	WHILE	@@FETCH_STATUS	=	0
	BEGIN
	
	--INATIVA O ALUNO COM ATRIBUTOS ANTIGO
	UPDATE	[DW].[DBO].[D_MATRICULA] 
		SET	LN_ATIVO =	0 
	WHERE NK_CODCOLIGADA = @NK_CODCOLIGADA
			AND NK_CODFILIAL = @NK_CODFILIAL
			AND NK_IDPERLET = @NK_IDPERLET
			AND NK_IDHABILITACAOFILIAL = @NK_IDHABILITACAOFILIAL
			AND NK_CODGRADE = @NK_CODGRADE
			AND NK_RA = @NK_RA
			AND NK_IDTURMADISC = @NK_IDTURMADISC
			AND NK_CODDISC = @NK_CODDISC

	--INSERE O REGISTRO COM OS NOVOS DADOS
	INSERT INTO	[DW].[DBO].[D_MATRICULA] VALUES (@NK_CODCOLIGADA, @NK_CODFILIAL, @NK_IDPERLET, @NK_IDHABILITACAOFILIAL, @NK_CODGRADE, @NK_RA, @NK_IDTURMADISC, @NK_CODDISC, @DISCIPLINA, @CODSTATUS_CURSO, @STATUS_CURSO, @QTD_ALUNO_CONCLUIDOS_CURSO, @QTD_ALUNO_NCONCLUIDOS_CURSO, @LN_DATA, @LN_ORIGEM, @LN_ATIVO)		


	FETCH NEXT FROM	C_ATUALIZA_DOCENTE INTO @NK_CODCOLIGADA, @NK_CODFILIAL, @NK_IDPERLET, @NK_IDHABILITACAOFILIAL, @NK_CODGRADE, @NK_RA, @NK_IDTURMADISC, @NK_CODDISC, @DISCIPLINA, @CODSTATUS_CURSO, @STATUS_CURSO, @QTD_ALUNO_CONCLUIDOS_CURSO, @QTD_ALUNO_NCONCLUIDOS_CURSO, @LN_DATA, @LN_ORIGEM, @LN_ATIVO
	END
	CLOSE	C_ATUALIZA_DOCENTE
	
	DEALLOCATE	C_ATUALIZA_DOCENTE


--	FAZ	O	LOG	DO	PROCESSO:
	INSERT INTO	[DBO].[ADM_LOG]	VALUES	(NEWID(),	GETDATE(),	'IMPORTA	MATRICULA','S',	'CARGA	DE	D_MATRICULA	COM	SUCESSO.')
END	TRY

BEGIN	CATCH
--	FAZ	O	LOG	DO	PROCESSO:
	INSERT INTO	[DBO].[ADM_LOG]	VALUES	(NEWID(),	GETDATE(),	'IMPORTA	MATRICULA','F',	'ERRO	AO	CARREGAR	D_MATRICULA.')
END	CATCH

GO
/****** Object:  StoredProcedure [dbo].[CARREGA_D_PAH_DIARIA]    Script Date: 15/01/2021 00:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CARREGA_D_PAH_DIARIA]
AS

BEGIN TRY

	INSERT INTO [DW].[DBO].[D_PAH_DIARIA]
	SELECT
		
		DS.[NK_CODCOLIGADA],
		DS.[NK_IDHABILITACAOFILIAL],
		DS.[NK_IDTURMADISC],
		DS.[DATA_AULA],
		DS.[NK_RA],
		DS.[QTD_PAH_PREVISTA],
		DS.[QTD_PAH_REALIZADA],
		DS.LN_DATA,
		DS.LN_ORIGEM,
		DS.LN_ATIVO


	FROM [DS].[DBO].[STG_PAH_DIARIA] AS DS

		LEFT JOIN [DW].[DBO].[D_PAH_DIARIA] AS DW
			ON DS.NK_CODCOLIGADA = DW.NK_CODCOLIGADA
			AND DS.NK_IDHABILITACAOFILIAL = DW.NK_IDHABILITACAOFILIAL
			AND DS.NK_IDTURMADISC = DW.NK_IDTURMADISC
			AND DS.DATA_AULA = DW.DATA_AULA
			AND DS.NK_RA = DW.NK_RA
			AND DW.SK_PAH_DIARIA IS NULL


	--	ATUALIZA OS	ALUNOS QUE VIERAM COM ATRIBUTOS DIFERENTE
		DECLARE @NK_CODCOLIGADA NCHAR(5)
		DECLARE @NK_IDHABILITACAOFILIAL INT
		DECLARE @NK_IDTURMADISC INT
		DECLARE @DATA_AULA DATE
		DECLARE @NK_RA NCHAR(20)
		DECLARE @QTD_PAH_PREVISTA DECIMAL(18, 0)
		DECLARE @QTD_PAH_REALIZADA DECIMAL(18, 0)
		DECLARE	@LN_DATA	DATETIME
		DECLARE	@LN_ORIGEM	NCHAR(20)
		DECLARE	@LN_ATIVO	BIT


	DECLARE	C_ATUALIZA_DOCENTE	CURSOR FOR
	SELECT
		--DISTINCT
		DS.[NK_CODCOLIGADA],
		DS.[NK_IDHABILITACAOFILIAL],
		DS.[NK_IDTURMADISC],
		DS.[DATA_AULA],
		DS.[NK_RA],
		DS.[QTD_PAH_PREVISTA],
		DS.[QTD_PAH_REALIZADA],
		DS.LN_DATA,
		DS.LN_ORIGEM,
		DS.LN_ATIVO

	FROM [DS].[DBO].[STG_PAH_DIARIA] AS DS

		LEFT JOIN [DW].[DBO].[D_PAH_DIARIA] AS DW
			ON DS.NK_CODCOLIGADA = DW.NK_CODCOLIGADA
			AND DS.NK_IDHABILITACAOFILIAL = DW.NK_IDHABILITACAOFILIAL
			AND DS.NK_IDTURMADISC = DW.NK_IDTURMADISC
			AND DS.DATA_AULA = DW.DATA_AULA
			AND DS.NK_RA = DW.NK_RA
	WHERE	DW.LN_ATIVO = 1
	AND (DS.QTD_PAH_PREVISTA <> DW.QTD_PAH_PREVISTA	OR DS.QTD_PAH_REALIZADA <> DW.QTD_PAH_REALIZADA)
	
	OPEN	C_ATUALIZA_DOCENTE
				FETCH NEXT FROM	C_ATUALIZA_DOCENTE INTO @NK_CODCOLIGADA, @NK_IDHABILITACAOFILIAL, @NK_IDTURMADISC, @DATA_AULA, @NK_RA, @QTD_PAH_PREVISTA, @QTD_PAH_REALIZADA, @LN_DATA, @LN_ORIGEM, @LN_ATIVO
	
	WHILE	@@FETCH_STATUS	=	0
	BEGIN
	
	--INATIVA O ALUNO COM ATRIBUTOS ANTIGO
	UPDATE	[DW].[DBO].[D_PAH_DIARIA] 
		SET	LN_ATIVO =	0 
	WHERE NK_CODCOLIGADA = @NK_CODCOLIGADA
		AND NK_IDHABILITACAOFILIAL = @NK_IDHABILITACAOFILIAL
		AND NK_IDTURMADISC = @NK_IDTURMADISC
		AND DATA_AULA = @DATA_AULA
		AND NK_RA = @NK_RA

	--INSERE O REGISTRO COM OS NOVOS DADOS
	INSERT INTO	[DW].[DBO].[D_PAH_DIARIA]	VALUES	(@NK_CODCOLIGADA, @NK_IDHABILITACAOFILIAL, @NK_IDTURMADISC, @DATA_AULA, @NK_RA, @QTD_PAH_PREVISTA, @QTD_PAH_REALIZADA, @LN_DATA, @LN_ORIGEM, @LN_ATIVO)		


	FETCH NEXT FROM	C_ATUALIZA_DOCENTE INTO @NK_CODCOLIGADA, @NK_IDHABILITACAOFILIAL, @NK_IDTURMADISC, @DATA_AULA, @NK_RA, @QTD_PAH_PREVISTA, @QTD_PAH_REALIZADA, @LN_DATA, @LN_ORIGEM, @LN_ATIVO
	END
	CLOSE	C_ATUALIZA_DOCENTE
	
	DEALLOCATE	C_ATUALIZA_DOCENTE

	
--	FAZ	O	LOG	DO	PROCESSO:
	INSERT INTO	[DBO].[ADM_LOG]	VALUES	(NEWID(),	GETDATE(),	'IMPORTA	PAH_DIARIA','S',	'CARGA	DE	D_PAH_DIARIA	COM	SUCESSO.')
END	TRY

BEGIN	CATCH
--	FAZ	O	LOG	DO	PROCESSO:
	INSERT INTO	[DBO].[ADM_LOG]	VALUES	(NEWID(),	GETDATE(),	'IMPORTA	PAH_DIARIA','F',	'ERRO	AO	CARREGAR	D_PAH_DIARIA.')
END	CATCH

GO
/****** Object:  StoredProcedure [dbo].[CARREGA_D_TEMPO]    Script Date: 15/01/2021 00:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CARREGA_D_TEMPO]
AS

BEGIN TRY

	IF  NOT EXISTS (SELECT * FROM [DW].[dbo].[D_TEMPO] WHERE NK_DATA = '1900-01-01')
	INSERT INTO [DW].[dbo].[D_TEMPO]
				([NK_DATA]
				,[ANO]
				,[MES]
				,[DIA]
				,[LN_DATA]
				,[LN_ORIGEM]
				,[LN_ATIVO])
			VALUES
				('1900-01-01'
				,'1900'
				,'01'
				,'01'
				,'1900-01-01'
				,'_NA_'
				,1)

	INSERT INTO [DW]..[D_TEMPO]
	SELECT
		
		DS.[NK_DATA]
      ,DS.[ANO]
      ,DS.[MES]
      ,DS.[DIA]
	  ,DS.LN_DATA,
		DS.LN_ORIGEM,
		DS.LN_ATIVO

	FROM [DS]..[D_TEMPO] AS DS

		LEFT JOIN [DW]..[D_TEMPO] AS DW
			ON DS.NK_DATA = DW.NK_DATA
			AND DW.SK_TEMPO IS NULL
	
--	FAZ	O	LOG	DO	PROCESSO:
	INSERT INTO	[DBO].[ADM_LOG]	VALUES	(NEWID(),	GETDATE(),	'IMPORTA	TEMPO','S',	'CARGA	DE	D_TEMPO	COM	SUCESSO.')
END	TRY

BEGIN	CATCH
--	FAZ	O	LOG	DO	PROCESSO:
	INSERT INTO	[DBO].[ADM_LOG]	VALUES	(NEWID(),	GETDATE(),	'IMPORTA	TEMPO','F',	'ERRO	AO	CARREGAR	D_TEMPO.')
END	CATCH

GO
/****** Object:  StoredProcedure [dbo].[CARREGA_F_DESEMPENHO]    Script Date: 15/01/2021 00:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE	[dbo].[CARREGA_F_DESEMPENHO]
AS
BEGIN	TRY
	--	APAGA	OS	DADOS	DA	F_DESEMPENHO	NO	STAGE:
	TRUNCATE TABLE	[DS].[DBO].[F_DESEMPENHO]

	--	INSERE	OS	DADOS	NA	F_DESEMPENHO	NO	STAGE:
	--	DETERMINA	OS	"IDS"	DOS	GENÉRICOS:
	DECLARE	@SK_ALUNO	INT	=	(SELECT	MIN(SK_ALUNO)	FROM	[DW].[DBO].D_ALUNO	WHERE	NK_CODCOLIGADA	=	99)
	DECLARE	@SK_DOCENTE	INT	=	(SELECT	MIN(SK_DOCENTE) FROM	[DW].[DBO].D_DOCENTE	WHERE	NK_CODCOLIGADA	=	99)
	DECLARE	@SK_MATRICULA	INT	=	(SELECT	MIN(SK_MATRICULA) FROM	[DW].[DBO].D_MATRICULA	WHERE	NK_CODCOLIGADA	=	99)
	DECLARE	@SK_TEMPO	INT	=	(SELECT	MIN(SK_TEMPO) FROM	DW..D_TEMPO	WHERE	NK_DATA	='1900-01-01')

	INSERT INTO	DS.[DBO].F_DESEMPENHO

	SELECT
		DISTINCT
		ISNULL(DW_D_ALUNO.SK_ALUNO, @SK_ALUNO) AS SK_ALUNO,
		ISNULL(DW_DOCENTE.SK_DOCENTE, @SK_DOCENTE) AS SK_DOCENTE,
		ISNULL(DW_MATRICULA.SK_MATRICULA, @SK_MATRICULA) AS SK_MATRICULA,
		ISNULL(DW_TEMPO.SK_TEMPO, @SK_TEMPO) AS SK_TEMPO,
		DS_STG_PAH_DIARIA.QTD_PAH_PREVISTA,
		DS_STG_PAH_DIARIA.QTD_PAH_REALIZADA,
		DS_STG_PAH_DIARIA.LN_DATA,
		DS_STG_PAH_DIARIA.LN_ORIGEM,
		DS_STG_PAH_DIARIA.LN_ATIVO



	FROM DS.DBO.STG_PAH_DIARIA DS_STG_PAH_DIARIA
		LEFT JOIN DW.DBO.D_DOCENTE DW_DOCENTE
			ON DW_DOCENTE.NK_CODCOLIGADA = DS_STG_PAH_DIARIA.NK_CODCOLIGADA
			AND DW_DOCENTE.NK_IDTURMADISC = DS_STG_PAH_DIARIA.NK_IDTURMADISC
	
		LEFT JOIN DW..D_MATRICULA DW_MATRICULA
			ON DW_MATRICULA.NK_CODCOLIGADA = DS_STG_PAH_DIARIA.NK_CODCOLIGADA
			AND DW_MATRICULA.NK_IDTURMADISC = DS_STG_PAH_DIARIA.NK_IDTURMADISC
			AND DW_MATRICULA.NK_RA = DS_STG_PAH_DIARIA.NK_RA

		LEFT JOIN DW..D_TEMPO DW_TEMPO
			ON DW_TEMPO.NK_DATA = DS_STG_PAH_DIARIA.DATA_AULA
	
		LEFT JOIN DW..D_ALUNO DW_D_ALUNO
			ON DW_D_ALUNO.NK_CODCOLIGADA = DS_STG_PAH_DIARIA.NK_CODCOLIGADA
			AND DW_D_ALUNO.NK_RA = DS_STG_PAH_DIARIA.NK_RA


	--	CARREGA	OS	DADOS	NO	DW:
	INSERT INTO	DW..F_DESEMPENHO

	SELECT
		DISTINCT
		DS_F_DESEMPENHO.SK_ALUNO,
		DS_F_DESEMPENHO.SK_DOCENTE,
		DS_F_DESEMPENHO.SK_MATRICULA,
		DS_F_DESEMPENHO.SK_TEMPO,
		DS_F_DESEMPENHO.QTD_PAH_PREVISTA,
		DS_F_DESEMPENHO.QTD_PAH_REALIZADA,
		DS_F_DESEMPENHO.LN_DATA,
		DS_F_DESEMPENHO.LN_ORIGEM,
		DS_F_DESEMPENHO.LN_ATIVO


	FROM DS.DBO.F_DESEMPENHO DS_F_DESEMPENHO
		LEFT JOIN DW.DBO.F_DESEMPENHO DW_F_DESEMPENHO
			ON DW_F_DESEMPENHO.SK_DOCENTE = DS_F_DESEMPENHO.SK_DOCENTE
			AND DW_F_DESEMPENHO.SK_ALUNO = DS_F_DESEMPENHO.SK_ALUNO
			AND DW_F_DESEMPENHO.SK_MATRICULA = DS_F_DESEMPENHO.SK_MATRICULA
			AND DW_F_DESEMPENHO.SK_TEMPO = DS_F_DESEMPENHO.SK_TEMPO

	WHERE DW_F_DESEMPENHO.SK_TEMPO IS NULL

	--	FAZ	O	LOG	DO	PROCESSO:
	INSERT INTO	[DBO].[ADM_LOG]	VALUES	(NEWID(),	GETDATE(),	'IMPORTA	DW FATOS	DE	VENDA','S',	'CARGA	DE	F_DESEMPENHO	COM	SUCESSO.')

END	TRY

BEGIN	CATCH

	--	FAZ	O	LOG	DO	PROCESSO:
	INSERT INTO	[DBO].[ADM_LOG]	VALUES	(NEWID(),	GETDATE(),	'IMPORTA	DW FATOS	DE	VENDA','F',	'ERRO	AO	CARREGAR	F_DESEMPENHO.')

END	CATch
GO
USE [master]
GO
